
.vermell {
  color: red;
}

div.quadrat {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 4px;
  background-color: red;
}

h1.x {
  display: inline-block;
  margin: 4px;
  border: 1px solid blue;
}

a.nav-link.active {
  border-bottom: 2px solid red;
}