

div.dia {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 2px;
    border: 1px solid gray;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    vertical-align: top;
  }

  div.dia.amagat {
      visibility: hidden;
  }